@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>GItemBeni</h1>
    <p class="lead">Bonito programa hecho en ASP.NET.</p>
    @*<p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Administración</h2>
        <p>
            Lista de personas.
        </p>
        <p><a class="btn btn-default" href="tPersonas">Personas &raquo;</a></p>
        <link href="Movimientos/Index.cshtml" rel="index" />
    </div>
    <div class="col-md-4">
        <h2>Movimientos</h2>
        <p>Altas y Bajas de personal.</p>
        <p><a class="btn btn-default" href="xMovimientos">Movimientos &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Memos</h2>
        <p>Administración de memos.</p>
        <p><a class="btn btn-default" href="xMemos">Memos &raquo;</a></p>
    </div>
</div>